# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/

# Model files
*.h5
*.hdf5
*.keras
*.pkl
*.joblib

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db 